:root:has(.mode input:checked) {
    --primary-hue: 35;
    --primary-lightness: 44%;
    --primary-saturation: 72%;
    --light-hue: 0;
    --light-saturation: 0%;
    --light-lightness: 9%;
    --color-default: #fff;
    --color-secondary: #fff;
    --color-tertiary: #9f9f9f;
    --color-light-grey: #252525;
}

body:has(.mode input:checked) {
    background-color: #252525;
}

body:has(.mode input:checked) .card picture::before {
    background-image: url(../Images/team-shape-dark.svg);
}

body:not(:has(:target)):has(.mode input:checked) .home-link,
body:has(.home:target):has(.mode input:checked) .home-link,
body:has(.chefs:target):has(.mode input:checked) .chefs-link,
body:has(.gallery:target):has(.mode input:checked) .gallery-link,
body:has(.contact:target):has(.mode input:checked) .contact-link {
    color: #fff;
}


body:not(:has(:target)) .home-link::before,
body:has(.home:target) .home-link::before,
body:has(.chefs:target) .chefs-link::before,
body:has(.gallery:target) .gallery-link::before,
body:has(.contact:target) .contact-link::before {
    width: 100%;

}

body:has(.mode input:checked) nav ul li a:hover {
    color: #fff;
}

body:has(.mode input:checked) .mode .light {
    display: block;
}

body:has(.mode input:checked) .mode .dark {
    display: none;
}

.gallery-imgs .layer h3{
    color: #FFFFFF;

}
.gallery-imgs .layer p{
    color: #FFFFFF;

}
.contact, .chefs
{
    background-color: hsl(var(--light-hue), var(--light-saturation), calc(var(--light-lightness) + 3%));
}


